<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail Project</title>
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="icon" type="Images/x-icon" href="/Image/Escola.png">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/project-detail.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>

</head>
<body>

<!-- Navigation bar start -->
<nav>
    <ul>
        <li><a href="/"><img src="/Image/Escola.png" alt=""></a></li>
        <li><a class="collapse-item" href="/">Home</a></li>
        <li><a class="collapse-item" href="/my-project">My Project</a></li>
    </ul>
    <div class="nav-right collapse-item">
        <a href="/contact">Contact Me</a>
    </div>
    <div class="nav-right" id="hamburger-btn">
        <button onclick="openHamburger()">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </button>
    </div>
</nav>
<hr>
<div>
    <div class="hamburger-container" id="hamburger-container">
        <a href="/">Home</a>
        <hr>
        <a href="/my-project">My Project</a>
        <hr>
        <a href="/contact">Contact Me</a>
    </div>
</div>
<!-- Navigation bar end-->

<!-- Title -->
    <div class="Project-Detail">
        <div class="Container-Detail">
            <h1>{{data.name}}</h1>
            <div class="Detail-image">
                <div class="card-image">
                    <img src="/Image/Orang.jpg" alt="">
                </div>
                <div class="card-DT">
                    <div class="card-duration">
                        <h2>Duration</h2>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days fa-2xl"></i>
                            <p>{{data.StartDate}} - {{data.EndDate}}</p>
                        </div>
                        <div class="times">
                            <i class="fa-solid fa-clock fa-2xl"></i>
                            <p>{{data.duration}}</p>
                        </div>
                    </div>
                    <div class="card-teknologi">
                        <h2>Tecnologies</h2>
                        <div class="grid-tecnologies">
                            {{#if data.Nodejs}}
                            <div class="tecnologies">
                                <i class="fa-brands fa-js fa-2xl" id="javascript"></i>
                                <p>Java Script</p>
                            </div>
                            {{/if}}
                            {{#if data.Golang}}
                            <div class="tecnologies">
                                <i class="fa-brands fa-golang fa-2xl" id="golang"></i>
                                <p>Golang</p>
                            </div>
                            {{/if}}
                            {{#if data.Reactjs}}
                            <div class="tecnologies">
                                <i class="fa-brands fa-react fa-2xl" id="reactsJS"></i>
                                <p>ReactsJS</p>
                            </div>
                            {{/if}}
                            {{#if data.Javascript}}
                            <div class="tecnologies">
                                <i class="fa-brands fa-java fa-2xl" id="java"></i> 
                                <p>Java</p>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="Description-Detail">
                <p>
                    {{data.description}}
                </p>
            </div>
        </div>
    </div>
        <hr>
        <footer>
            © Escola | All Right Reserved.
        </footer>
        <script src="js/hamburger.js"></script>
</body>
</html>